.switch {
    width: 70px;
    height: 30px;
    margin-top: 5px;
    background-color: #111111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    padding: 5px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 5px rgba(200, 200, 200, 0.5);
}

.switch[data-ison="true"] {
    background-color: #F5F5F5;
}

.handle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    z-index: 3;
    transition: left 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111111;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
}

.switch[data-ison="true"] .handle {
    left: calc(100% - 28px);
    background-color: #F5F5F5;
}

.icon-container {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
}

.moon-icon {
    left: 5px;
    z-index: 2;
}

.sun-icon {
    right: 5px;
    z-index: 2;
}

.icon {
    width: 20px;
    height: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.7vh 8.3vw 0;
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 1440px) {
    .header {
        padding: 3.7vh 3.7vw 0;
    }
}


.menu-list {
    color: #F5F5F5;
    text-align: center;
    font-family: var(--font-poppins-light), sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    gap: 80px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.menu-list li:hover {
    text-shadow:
            0 0 10px rgba(245, 245, 245, 1),
            0 0 20px rgba(245, 245, 245, 0.9),
            0 0 30px rgba(245, 245, 245, 0.8),
            0 0 40px rgba(245, 245, 245, 0.7);
    transition: text-shadow 0.3s ease;
}

.left-menu {
    display: flex;
    align-items: center;
    gap: 60px;
}

.right-menu {
    display: flex;
    gap: 30px;
}

.menu {
    width: 40px;
}

.lang-dropdown {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: #b3b3b3;
}

.lang-dropdown button {
    background: none;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #F5F5F5;
    leading-trim: both;
    text-edge: cap;
    font-family: var(--font-poppins-light), serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    gap: 10px;
}

.lang-dropdown-menu {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    margin: 0;
    padding: 0;
    background-color: #111;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 10;
    min-width: 100%;
}

.lang-dropdown-menu li {
    padding: 5px 10px;
    color: #b3b3b3;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
}

.lang-dropdown-menu li:hover {
    background-color: #333;
    color: #fff;
}

.lang-dropdown-menu li:not(:last-child) {
    border-bottom: 1px solid #222;
}

.icon-wrapper {
    display: inline-block;
    cursor: pointer;
    transition: color 0.3s ease, filter 0.3s ease;
    color: #f5f5f5;
}

.icon-wrapper:hover {
    color: #00acee;
}

.icon-wrapper:hover svg {
    fill: currentColor;
    filter: drop-shadow(0 0 5px rgba(0, 172, 238, 0.8));
    transition: fill 0.3s ease, filter 0.3s ease;
}

.profile-picture-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px; /* Adjust size to accommodate increased padding */
    height: 300px; /* Adjust size to accommodate increased padding */
    border-radius: 50%;
    background: linear-gradient(0deg, #0EAB00, #0EAB00); /* Green border */
    padding: 20px; /* Increased padding for a thicker green border */
    box-shadow: 0 0 20px #0EAB00; /* Adjust glowing effect if needed */
}

.profile-picture {
    border-radius: 50%; /* Ensure the image remains circular */
    background-color: #000; /* Match this to your page background */
    object-fit: cover;
    width: 100%; /* Make sure the image takes the full container */
    height: 100%; /* Make sure the image takes the full container */
    padding: 10px; /* This creates the gap between the image and the green circle */
}

.hero-content {
    display: flex;
    margin-top: 11vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-title {
    color: #F5F5F5;
    text-align: center;
    margin-top: 3.7vh;
    font-family: var(--font-poppins-semi-bold), serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.hero-subtitle {
    color: #0EAB00;
    text-align: center;
    margin-top: 1vh;
    font-family: var(--font-poppins-semi-bold), serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.hero-description {
    color: rgba(245, 245, 245, 0.80);
    text-align: center;
    margin-top: 2.7vh;
    font-family: var(--font-poppins-light), serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 70%;
}

.main-page {
    height: 100vh;
    margin-bottom: 40px;
}

/* SkillsSection.css or your main CSS file */
.skills-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 60px 0; /* Adjust padding as needed */
    text-align: center;
}

.skills-header-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-header-bg {
    position: absolute;
    -webkit-text-stroke-width: 1px; /* Increase stroke width for more saturation */
    -webkit-text-stroke-color: rgba(245, 245, 245, 0.8); /* Increase opacity */
    color: transparent;
    font-family: var(--font-poppins-semi-bold), sans-serif;
    font-size: 80px; /* Adjust size to ensure it stays on one line */
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase;
    opacity: 0.2; /* Maintain subtle visibility */
    pointer-events: none; /* Prevent interference */
    white-space: nowrap; /* Prevent text from wrapping */
    z-index: 1; /* Behind the foreground text */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Center horizontally and vertically */
}

.section-header {
    color: #F5F5F5;
    font-family: var(--font-poppins-semi-bold), sans-serif;
    font-size: 40px; /* Adjust as needed */
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    z-index: 2; /* Ensure it's above the background text */
    margin: 0; /* Remove margins for perfect alignment */
}


.categories-container {
    display: flex;
    justify-content: center;
    gap: 75px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.category {
    display: flex;
    padding: 20px 30px; /* Adjust padding for a more compact look */
    justify-content: center;
    align-items: center;
    gap: 30px; /* Adjust gap between icon and text */
    border-radius: 15px; /* Adjust border-radius */
    background: rgba(245, 245, 245, 0.05);
    color: #F5F5F5;
    font-family: var(--font-poppins-light), serif;
    font-size: 20px; /* Adjust font size */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    transition: box-shadow 0.45s ease, border 0.45s ease, background-color 0.45s ease, color 0.45s ease; /* Transition properties for smooth changes */
    border: 1px solid transparent; /* Ensure consistent border style */
}

.category:hover {
    box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.30);
}

.active-category {
    border: 1px solid #0EAB00; /* Highlight active category */
    box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.30); /* Ensure active has the same shadow */
    transition: box-shadow 0.45s ease, border 0.45s ease, background-color 0.45s ease, color 0.45s ease; /* Ensure transitions match */
    background-color: rgba(245, 245, 245, 0.05); /* Ensure consistent background color */
}

.skills-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 8.3vw;
    gap: 9.2vw 6.25vh;
    justify-items: center;
    margin-top: 40px; /* Adjust top margin */
}

.skill-icon {
    padding: 10px;
    border-radius: 8px;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.language-list {
    display: flex;
    gap: 10vw;
    margin-top: 5.5vh;
}

.language-list h3 {
    color: #F5F5F5;
    font-family: var(--font-poppins-regular), serif;
    font-size: 30px;
    margin-top: 1.8vh;
}

.language-list p {
    color: rgba(245, 245, 245, 0.80);
    font-family: var(--font-poppins-light), serif;
    margin-top: 1vh;
}

.experience-timeline {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 20px 0;
}

.timeline-line {
    position: absolute;
    width: 2px;
    background-color: #0EAB00;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

.experience-item {
    display: flex;
    position: relative;
    width: 70vw;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 1;
}

.timeline-date {
    position: absolute;
    background-color: #111111;
    border: 1px solid #0EAB00;
    color: #0EAB00;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    z-index: 2;
}

.experience-card {
    display: flex;
    gap: 20px;
    background-color: #222222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 33%;
    transition: transform 0.3s, box-shadow 0.3s;
    z-index: 1;
}

.left-card {
    margin-right: auto;
}

.right-card {
    margin-left: auto;
}

.experience-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(245, 245, 245, 0.4);
}

.experience-logo {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    object-fit: contain;
}

.experience-content {
    display: flex;
    flex-direction: column;
}

.experience-role {
    font-size: 18px;
    font-weight: bold;
    color: #F5F5F5;
    margin: 0;
}

.experience-duration {
    font-size: 14px;
    color: #0EAB00;
    margin: 5px 0;
}

.experience-description {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.experience-description li {
    font-size: 14px;
    color: #b3b3b3;
    margin: 5px 0;
}


@media screen and (max-width: 768px) {
    .experience-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .experience-logo {
        width: 40px;
        height: 40px;
    }
}

.border-white {
    border: 1px solid #F5F5F5;
}

.border-red {
    border: 1px solid #DB0632;
}

.border-yellow {
    border: 1px solid #FFB909;
}


